@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewPRSimple_Header</title>
</head>
<body>
    <div style="float:left">
        <img src="~/Images/logo.png" width="50%" height="50%"/>
    </div>
    <div style="float:right">
        <img src="~/Images/logoOPEO.png" width="80%" height="80%" />
    </div>
</body>
</html>
